
.checklist {
    width: 100%;
    overflow: hidden;
    min-height:100; 
    .button-grp{
        // display:flex;
        // justify-content:center;
        // align-items:center;
        float: right;
        margin-right: 3%;
        margin-top: -4%;
    }
    h4{
        margin-left: 1rem;
    }
    .checklist-conmplete{
        margin-right: 1rem;
    }
}


.checklist-button{
    margin-left: 70px !important;
}

.form-modal {
    min-height: 300px;
    min-width: 400px;
    .header-text {
    font-weight: 600;
    margin: 20px 0 10px 0;
    }
    .confirm-btn{
        // display:flex !important;
        justify-content:center !important;
        align-items:center !important;
        // margin-top: 3% !important;
        // max-width: 100px;
    }
    .address{
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        }
    .select-country{
        width:240px;
        margin: 0;
    }
    .select-pickup{
        width:195px;
        margin: 0 50px 10px 0;
    }
    .input-text{
        width: 240px;
        margin: 0 50px 10px 0;
    }
    .input-text-2{
        width: 240px;
    }
    .pickup{
        display: flex;
        margin-bottom: 2%;
        .custom-date-picker{
           // padding: 9px 14px;
            // margin-right: 50px;
            // width: 230px !important;
            margin-right: 48px;
            width: 240px!important;
            label{
                line-height: 1em;
            }
            input {
                height: 0.7em !important;
                padding: 16px 15px 14px 5px
            }
        }
    }
}
.form-field{
    margin-right: 10px !important;
}
.pickup-form{
    margin-left: 2%;
}

.width-80 {
    width: 90% !important;
}

.MuiDataGrid-toolbarContainer{
    .MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary{
        display: none;
    }
}