.custom-info {
    margin-bottom: 0.5rem;
    .info-alert {
        font-weight: bold;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        border: 1px solid;
    }
}