.action-block {
    text-align: end;
    .action-btn {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
    }
}
.customer-section {
    padding-bottom: 20px;
    .customer-details {
        padding: 1rem;
    }
    .cus-block {
        margin-bottom: 1rem;
    }
    .cus-label, .cus-val {
        text-align: center;
    }
    .cus-label {
        font-size: .875rem;
    }
    .cus-val {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.25rem;
    }
}
.ml-10 {
    margin-left: 10px;
}
.custom-date-picker {
    width: 100%;
}

#standard-basic-search{
    float:right;
}
.search-field{
    .MuiFormControl-root.MuiTextField-root{
        float: right;
    }
}
#exp-row{
    th{
        border-bottom: none;
    }
    td{
        border-bottom: none;
    }
}

.MuiFormControl-root.MuiFormControl-fullWidth.pause-modal {
    padding-top :0.5rem;
}
#demo-simple-select-pause-label{
    padding-top: 0.9rem;
}